.success{
  background-color: #afecd0!important;
  color: darkgreen!important;
}

.error{
  background-color: #ea9c9c!important;
  color: #a00000!important;
}

#footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:70px;
   background:#e6eaff;
}

.about{
  font-size: 20px;
}

.answer{
  transition: 0.5s;
}